body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #383D3B;
  color: #EEE5E9;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  background-color: #92DCE5;
  transition: 0.2s ease-in;
}

button:hover {
  background-color: #52DEE5;
  transition: 0.2s ease-in;
}


/* #fcb97d
#edd892
#c6b89e
#b5b8a3
#aaba9e */

/* 
#16302B
#694873
#8B728E
#85B79D
#C0E5C8 
*/